header {
  border-bottom: 1px solid #aaaaaa;
}
header > .first-row {
  background-color: #169cf5;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  color: #fff;
}
header > .second-row {
  /* background-color: #169cf5; */
  /* background-color: #04aa6d; */
  /* background-color: #04aa6d; */
  /* color: #fff; */
}
.navbar-brand {
  color: #fff;
  color: #008eec;
  color: #04aa6d;
}

.navbar-second-row {
  /* background-color: #04aa6d; */
}
.white-link > a {
  color: white !important;
}
.navbar-2-links > a {
  color: white !important;
}
