.navbar-main{
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  /* z-index: 100; */
  background: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
}

.navbar-1{
  background-color: #fafafa;
  border-bottom: 1px solid rgb(161, 161, 161);
}

.navbar-2 {
  background: #fff;
  
}
 
.bestbuy-logo {
  font-weight: 700; 
  font-size: 24px; 
  color: #1055e9;
  /* color: #ffffff; */
  /* background-color: #1055e9; */
  text-align: center;
  border-radius:  20px ;
  display: inline-block;
  padding: 0px 14px;

}
.bestbuy-logo:hover {
  /* background-color: #2d70ff; */
}
.bestbuy-logo > a {
  color: #ffffff;
  color: #0e47e2;
}
.bestbuy-logo > a:hover { 
  text-decoration: none;
}