body {
  font-size: 16px;
  /* background-color: #f5f5f5;  */
  background-color: #f6f6f6;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.app {
  min-height: 900px;
  /* background-color: rgb(255, 255, 255); */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}

.centered {
  position: absolute;
  top: 60%;
  /* top: 30%; */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.bg-shadow {
  background-color: rgba(0, 0, 0, 0.726);
}

.v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-w {
  background-color: white;
}
.bg-b {
  background-color: rgb(0, 0, 0);
}

.white {
  color: white !important;
}

.black {
  color: black;
}

.aut-btn {
  border: none;
  /* background-color: white; */
  color: rgb(24, 24, 24);
  border-radius: 1rem;
  padding: 2px 10px;
}
.auth-btn:hover {
  text-decoration: underline;
}

.product-card {
  /* padding-bottom: 1.25rem; */
  padding: 0.2rem;
  /* border: 0; */
  /* transition: all 0.15s ease-in-out; */
  max-height: 500px;
  overflow: hidden;
}

.product-img-box {
  padding: 10px;
  height: 220px;
  overflow: hidden;
  text-align: center;
}

.product-img {
  /* max-height: 200px; */
  /* max-width: 200px; */
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}

a.product-title {
  transition: color 0.25s ease-in-out;
  color: #373f50;
  text-decoration: none !important;
  font-size: 1.2rem;
  max-height: 100px;
}

.btn-wishlist {
  width: 2rem;
  height: 2rem;
  padding: 0 !important;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 0;
  border-radius: 50%;
  background-color: #f3f5f9;
  color: #373f50;
  text-align: center;
}
