.app {
  min-height: 900px;
  /* background-color: rgb(255, 255, 255); */
}

a {
  color: #444;
}
a:hover {
  color: #7cb9b9;
  /* text-decoration: underline; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  /* -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}

.centered {
  position: absolute;
  top: 60%;
  /* top: 30%; */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.bg-shadow {
  background-color: rgba(0, 0, 0, 0.726);
}

.v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-w {
  background-color: white;
}
.bg-b {
  background-color: rgb(0, 0, 0);
}

.white {
  color: white !important;
}

.black {
  color: black;
}

.aut-btn {
  border: none;
  /* background-color: white; */
  color: rgb(24, 24, 24);
  border-radius: 1rem;
  padding: 2px 10px;
}
.auth-btn:hover {
  text-decoration: underline;
}

.product-card {
  /* padding-bottom: 1.25rem; */
  /* padding: 0.2rem; */
  /* border: 0; */
  /* transition: all 0.15s ease-in-out; */
  max-height: 500px;
  overflow: hidden;
}
.product-card:hover {
  box-shadow: 0 2px 17px 0 rgb(0 0 0 / 9%);
  transform: translateY(-2px);
}

.product-img-box {
  /* padding: 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* border: 3px solid green; */
  overflow: hidden;
  text-align: center;
}

.product-img {
  /* max-height: 200px; */
  /* max-width: 200px; */
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}

.product-title-container {
  height: 48px;
  display: block;
  overflow: hidden;
  font-size: 1rem;
  margin-bottom: 4px;
}

a.product-title {
  color: #2e333d;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  /* line-height: 1opx; */
}
a.product-title:hover {
  text-decoration: underline;
  color: #0070c9; /* Apple */
}

.btn-wishlist {
  width: 2rem;
  height: 2rem;
  padding: 0 !important;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 0;
  border-radius: 50%;
  background-color: #f3f5f9;
  color: #373f50;
  text-align: center;
}

.box-segment {
  background-color: #fff;
  border: 1px solid #ebeced;
  -ms-border-radius: 4px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

ul.stores-list {
  list-style: none;
}
ul.stores-list > li {
  position: relative;
  display: block;
  /* padding: 0.75rem 1.25rem; */
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  margin-bottom: 0.4rem;
  border-radius: 0.4rem;
}

.navbar-main {
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
  /* left: 0; */
  /* z-index: 100; */
  background: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
}

.navbar-1 {
  background-color: #fafafa;
  border-bottom: 1px solid rgb(161, 161, 161);
}

.navbar-2 {
  background: #fff;
}

.bestbuy-logo {
  font-weight: 700;
  font-size: 24px;
  color: #1055e9;
  /* color: #ffffff; */
  /* background-color: #1055e9; */
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  padding: 0px 14px;
}
.bestbuy-logo:hover {
  /* background-color: #2d70ff; */
}
.bestbuy-logo > a {
  color: #ffffff;
  color: #0e47e2;
}
.bestbuy-logo > a:hover {
  text-decoration: none;
}
